#heading-of-my-basket-orders{
    font-weight: 600;
    margin-bottom: 30px;
}

.table-container-of-my-basket-orders{
    position: relative;
    margin: 0px;
    padding: 0px 10.5px;
    overflow: hidden;
    width: auto !important;
    background-color: #eff3f363;
    border-radius: 6px;
    overflow-x: scroll !important;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
}

.table-container-of-my-basket-orders > div {
    padding: 20px 15px;
    border-radius: 3px;
    background: linear-gradient(195deg, rgb(66, 66, 74), rgb(30, 30, 30)) !important;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(89 88 90 / 66%) !important;
    margin: 0px 12px;
    color: white;
    position: fixed;
    right: 48px;
    width: 71.75%;
}

.table-container-of-my-basket-orders > div > h5{
    margin-bottom: 0px;
    font-size: 1.2em;
}

.table-of-my-basket-orders{
    margin-top: 5.6rem;
    padding: 0.9375rem 20px;
}

.columns-of-table-my-basket-orders > th {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}