.container-of-seller-dashboard {
    padding: 15px 0px 15px 38px;
    height: 95vh;
}

.navbar-of-seller-dashboard {
    display: flex;
    align-items: center;
}

.name-of-component-dashboard {
    width: 69.5vw;
}

.name-of-component-dashboard > p {
    font-size: 20px;
    font-weight: 600;
    margin: 12px 0px;
}

.div-for-dashboard-and-profile-icon-dashboard {
    position: absolute;
    display: flex;
    right: 18px;
}

.div-for-dashboard-and-profile-icon-dashboard > div{
    margin: 0px 10px;
}

.profile-icon > button {
    border: none;
    padding: 0px;
}

.links-for-icons-of-navbar {
    color: rgb(85, 85, 85);
    background-color: transparent;
    cursor: pointer;
}

#menu-list-of-navbar-dashboard {
    position: absolute;
    z-index: 1;
    width: 102px;
    right: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 3px;
    font-size: 14px;
    background-color: white;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

#menu-list-of-navbar-dashboard > a {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

#menu-list-of-navbar-dashboard > a:hover {
    background-color: #242225;
    color: white;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 5px 10px -6px rgb(36 36 37 / 40%);
}

.container-of-seller-dashboard-boxes {
    display: flex;
}

.container-of-box-dashboard {
    width: 320px;
    margin: 28px 65px 45px 0px;
    position: relative;
}

.box-of-seller-dashboard{
    background-color: #ebecec63;;
    padding: 14px 16px;
    margin-top: 20px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    border-radius: 6px;
}

.div-for-icons-and-description-dashboard .description-dashboard{
    width: 100%;
    text-align: right;
    margin-bottom: 28px;
}

.div-for-icon-of-seller-dashboard {
    position: absolute;
    top: 0px;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(76 175 80 / 40%);
}

.div-for-icon-of-seller-dashboard *{
    width: 36px !important;
    height: 36px !important;
    color: white;
}

.description-dashboard > p {
    margin-top: 0px;
    margin-bottom: 3px;
    font-size: 15.5px;
    color: #333;
}

.description-dashboard > h4 {
    margin-bottom: 0px;
    margin-top: 2px;
    font-size: 20px;
}

.bottom-description-dashboard {
    display: flex;
}

.bottom-description-dashboard > div{
    margin: 0px 5px;
}

#first-div-of-bottom-description-dashboard{
    color: #4caf50;   
}

#arrow-up-span-of-bottom-description-dashboard {
    margin-right: 6px;
}