.sub-container-of-bakery-products{
    display: grid;
    grid-template-columns: repeat(5,auto);
}

.bakery-item{
    border: 2px solid black;
    width: 205px;
    height: 260px;
    margin: 10px 20px 15px 0px;
}